body {
background: rgb(158, 190, 254);
transition: background 0,5s ease;
}

.btn {
    width: 150px;
    height: 60px;
    color: rgb(158,190,254);
    display: block; 
    margin: auto; 
    margin-top: 40vh;
    font-size: 22px;
    background-color: rgb(255, 255, 255);
    border-radius: 30px;
    border: 3px solid #6e70ff;
    box-shadow: 2px 5px 0 0 #6e70ff;
}

.btn:hover {
    box-shadow: 1px 3px 0 0 #6e70ff;
}

.btn:active {
    color: #b5b6f8;
    transition: 0,7 ease-in-out;
    box-shadow: 2px 5px 0 0 #6e70ff;
}